button{
  width: 100%;
  border: none;
  background:#00274d;
  border-radius: 99px;
  padding:10px 0;
  color:rgb(252, 252, 252);
  font-weight:bold;
  font-size: 10px;
  transform: 0.1s;
}
table{
 margin-left: auto;
 margin-right: auto;
 margin-top: 10%;
 margin-bottom:auto;
 border:none;
 border-radius:10px;
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
 background-color: linear-gradient(to right, #f3e5c3, #174e4f);;
}
body
{
  background: linear-gradient(to right, #f3e5c3, #174e4f);
}
p
{
  margin-top: 13% ;
}
.title
{
color: #00274d;
font-size: 28px;
font-weight: 600;
letter-spacing: 0.3px;
position: relative; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-top: 8px;
padding-bottom: 8px;
text-align:center;
}
input
{
  width: 94%;
  padding: 10px 10px 15px 10px ;
  border: none;
  border-radius: 10px;
}
textarea
{
  width: 94%;
  padding: 10px 10px 15px 10px ;
  border: none;
  border-radius: 10px;
}
select
{
  width: 99%;
  padding: 10px 10px 15px 10px ;
  border: none;
  border-radius: 10px;
}
.s
{
  width:30%;
  padding: 5px 5px 10px 5px ;
  border: none;
  border-radius: 10px;
}
.input
{
  width:43%;
 padding: 10px 10px 15px 10px ;
 border: none;
 border-radius: 10px;
}
.hide{
  color:red;
  font-size:14px;
  margin: 0;
  padding: 0;
}
 @media (max-width: 600px) {
    table{
        width: auto;
        height: auto;
    }
 }