:root{
  --bgbutton:black;
  --text-color:white;
  --bdcolor:#f3e5c3;
  --label:#ddd;
}
  button{
  width: 100%;
  border: none;
  background:var(--bgbutton);
  border-radius: 99px;
  padding:13px 50px;
  color:var(--text-color);
  font-weight:bold;
  font-size: 12px;
  margin-bottom: 8px;
}
table{
 background-color:var(--text-color);
 margin-top: 12%;
 margin-bottom: auto;
 margin-right: auto;
 margin-left: auto;
 border-radius:15px;
 width: 250px;
 border: 3px solid var(--bgbutton);

 
}
body{
  background-color:var(--bdcolor);
}
.img{
  height: 200px;
  width: 200px;
  margin-left:20px;
}
.weight label{
  display: inline-block;
  padding: 5px 15px;
  margin: 0 15px;
  cursor: pointer;
  border: 1px solid var(--label);
  border-radius: 4px;
  transition: all 0.3s;
}
.weight input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;

}
.weight input[type="checkbox"]:checked+label {
  background-color: var(--bgbutton);
  color: var(--text-color);
  border-color: var(--bgbutton);
}
.quantity {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.quantity input{
  width: 50px;
  padding: 5px;
  margin-left: 28px;
  margin-top:8px ;
  text-align: center;
  border: 1px solid var(--label);
  border-radius: 4px;
}
.s{
  margin-top: 7px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 0px;
}
.d{
  margin-top: 7px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 0px;
  border: 1px solid var(--bgbutton);
  border-radius: 15px;
}
.hide{
  color:red;
  font-size:14px;
  margin: 0;
  padding: 0;
}
.readonly{
  background: none;
  border: none;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:medium;


}
 @media (max-width: 600px) {
    table{
        width: 80%;
        height: auto;
    }
 }
